<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.ex.model.OrderDetail">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="purchase_quantity" jdbcType="INTEGER" property="purchaseQuantity" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, purchase_quantity, product_id
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_detail
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <select id="selectByNames" parameterType="String" resultMap="BaseResultMap">
    select * from order_detail
    where order_id like concat('%',#{keyword},'%')
    or product_id like concat('%',#{keyword},'%')
  </select>

</mapper>